name: Build and Deploy WAR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build WAR
        run: mvn clean package

      - name: Deploy to Tomcat
        run: |
          curl -v -u ${{ secrets.TOMCAT_USERNAME }}:${{ secrets.TOMCAT_PASSWORD }} \
          --upload-file target/cicd-demo.war \
          "${{ secrets.TOMCAT_URL }}/manager/text/deploy?path=/cicd-demo&update=true"
